body {
	background-color: #f0f3f4;
}

section {
	background-color: #f0f3f4;
}

.main-header {
	font-size: 15px;
}

.main-header .nav.navbar-nav {
	padding: 0px;
	border-radius: 0;
}

.main-container {
	margin-top: 10px;
}

.home-container {
	margin-top: -50px;
}

/*--------------------- Override bootstrap elements --*/

table.table {
	background-color: white;
}

nav.navbar {
	min-height: 50px !important;
	height: 50px !important;
	margin-bottom: 0;
}

nav.navbar .navbar-brand {
	min-height: 50px;
	height: 50px;
	padding: 15px;
}

nav.navbar .text-center a {
	min-height: 50px;
	height: 50px;
	padding: 15px;
}

nav.navbar .dropdown .dropdown-toggle {
	min-height: 50px;
	height: 50px;
	padding: 15px;
}

nav.navbar .dropdown ul {
	border: 1px solid #ddd;
	right: -1px;
	left: auto;
}

.form-group {
	margin-top: 20px;
	margin-bottom: 0;
}

select.form-control.small {
	height: 35px;
}

select.form-control {
	background-color: white;
	border: 1px solid #d3dcde;
	border-top: 2px solid #d3dcde;
	height: 40px;
	border-radius: 0;
	outline: 0;
}

select.form-control:active{
	box-shadow: none;
}

select.form-control:focus{
	box-shadow: none;
}

input.form-control.small {
	height: 35px;
}

input.form-control {
	border: 1px solid #d3dcde;
	border-radius: 0;
	height: 40px;
	background-color: white;
}

input.form-control:focus {
	outline: 0;
	box-shadow: none;
}

textarea.form-control {
	border: 1px solid #d3dcde;
	border-radius: 0;
	background-color: white;
}

.input-group input.form-control {
	height: 32px;
}

button.btn {
	border-radius: 0;
	font-size: 14px;
	padding: 5px 15px;
}

/*---------------------------- attribute --------------*/
.float-left {
	float: left;
}

.float-right {
	float: right;
}

.clickable {
	cursor: pointer;
}

.no-padding {
	padding: 0 !important;
}

.no-margin {
	margin: 0 !important;
}

.align-center-div {
	margin: auto;
}

.truncate {
	width: 300px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.hidden {
	display: none;
}

/* ---------------------------- text ------------------- */
.error-text {
	color: #e74c3c;
	font-weight: bold;
	font-size: 17px;
}


/*---------------------------- image --------------------*/
.image-list-container {
	overflow-y: hidden;
	overflow-x: auto;
	margin: 10px 0 10px 0;
	white-space: nowrap;
}

.image-list-container .image {
	overflow: hidden;
	display: inline-block;
	margin-right: 10px;
}

.image {
	overflow: hidden;
}


/*-------------------------- Project view---------------------*/
.project-card {
	color: #3d3d5c;
	padding: 20px 20px 18px 20px;
	margin-bottom: 50px;
	border: 1px solid #f0f3f4;
	border-top: 5px solid #2ecc71;
	background-color: white;
}

.project-card-title {
	color: #090d10;
	font-size: 20px;
	font-weight: bold;
	margin-top: -5px;
}

.project-card-owner {
	margin: 5px 0 5px 0;
	font-size: 12px;
}

.project-card-description {
	height: 7em;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.project-card-progress {
	margin-top: 15px;
	margin-bottom: 15px;
}

.project-card-funded-money {
	color: #606b6c;
	padding: 0;
	font-size: 20px;
}

.project-card-category {
	padding: 5px 0 0 0;
	text-align: right;
}

.project-card-category a {
	color: #606b6c;
	font-size: 16px;
}

/*-------------------------------- Project filter ---------------*/
.project-filter-container {
	position: fixed;
	top: 60px;
	left: 0;
	z-index: 10;
	width: 100vw;
	pointer-events: none;
}

.project-filter-bar {
	width: 250px;
	height: 2000px;
	background-color: white;
	border: 1px solid #f0f3f4;
	border-top: 5px solid #2ecc71;
	padding: 20px;
	pointer-events: auto;
}

.project-filter-form {
	margin-top: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e2e8e9;
}

.project-filter-button {
	margin-top: 20px;
}

/*------------------------------------- Home ------------------------*/
.slideshow {
	width: 100%;
	height: 80vh;
}

.slideshow-image {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.slideshow-selector-container {
	position: absolute;
	top: 62px;
	right: 0;
	width: 200px;
	height: 698px;
}

.slideshow-center-line {
	position: absolute;
	top: 45%;
	height: 90px;
	padding-top: -20px;
	background-color: #141414;
	opacity: 0.5;
	width: 100%;
	text-align: center;
	color: white;
	font-size: 75px;
}

.slideshow-center-text {
	position: absolute;
	top: 44%;
	height: 90px;
	width: 100%;
	text-align: center;
	color: white;
	font-size: 75px;
}

/*--------------------------------- Any Input Area ----------------------------*/
h3 {
	margin-top: 0;
	margin-bottom: 20px;
}

h4 {
	margin-top: 0;
	margin-bottom: 20px;
}

.input-area-container {
	margin-top: 20px;
	background-color: white;
	padding: 30px;
}

/*--------------------------------- View project page ------------------*/
.project-view-container {
	width: 100%;
}

.project-view-container-left {
	float: left;
	width: 69%;
}

.project-view-description {
	background-color: white;
	padding: 15px;
	width: 100%;
}

.project-view-container-right {
	width: 30%;
	float: right;
	display: inline-block;
}

.project-view-group {
	width: 100%;
	background-color: white;
	padding: 15px;
}

.project-view-info {
	margin-top: 10px;
	width: 30%;
	float: right;
	padding: 15px;
	display: inline-block;
	border-top: 5px solid #2ecc71;
	background-color: white;
}

.project-view-percentage {
	color: #3d3d5c;
	font-size: 50px;
	font-weight: bold;
}

.project-view-money {
	color: #3d3d5c;
	font-size: 40px;
	font-weight: bold;
}

.project-view-total-money {
	color: #3d3d5c;
	font-size: 15px;
}

.project-view-progress {
	margin-top: 15px;
}

.project-view-panel {
	margin-top: 10px;
	width: 100%;
	height: 50px;
	text-align: center;
	background-color: #2ecc71;
	border: 1px solid #2ecc71;
	color: white;
	font-size: 25px;
	font-weight: bold;
	padding-top: 5px;
}

.project-view-donate input {
	height: 48px;
}

.project-view-donate button {
	background-color: #2ecc71;
	border: none;
	font-size: 20px;
	height: 48px;
	width: 100%;
}

.project-view-donate-panel {
	margin-top: 20px;
}

.project-view-donate-panel button {
	background-color: #2ecc71;
	border: 1px solid #2ecc71;
}

.project-view-donations {
	margin-top: 20px;
	width: 30%;
	float: right;
}

.project-view-donations-label {
	height: 48px;
	width: 100%;
	padding-top: 10px;
	font-size: 20px;
	background-color: #2ecc71;
	text-align: center;
	color: white;
}

.project-view-donations-container {
	margin-top: 15px;
	background-color: white;
}

.project-view-donation-card {
	padding: 0 10px;
	margin-bottom: 10px;
}

/*-------------------------------- Sidetab -------------------------*/
.sidetab-selector-container {
	width: 15%;
	float: left;
}

.sidetab-content-container {
	width: 85%;
	float: left;
	padding: 0 20px 0 20px;
}

.sidetab-content {
	background-color: white;
	display: none;
}

.sidetab-content.selected {
	display: inline;
}

.sidetab-selector {
	padding: 10px;
	height: 40px;
	width: 100%;
	text-align: center;
}

.sidetab-selector:hover {
	cursor: pointer;
}

.sidetab-selector.selected {
	background-color: white;
}

/*--------------------------------- Projects container -------------------*/
#projects-container table .table-row:hover {
	cursor: pointer;
	background-color: #777;
	color: white;
}

/*---------------- project-container -----------------*/
#project-container {
	padding-right: 50px;
}
