body {
	background-color: #f0f3f4;
}

section {
	background-color: #f0f3f4;
}

.main-container {
}

.home-container {
	margin-top: -50px;
}

/*--------------------- Override bootstrap elements --*/
table.table {
	background-color: white;
}

nav.navbar {
	margin-bottom: 0;
}

select.form-control {
	background-color: #ecf0f1;
	border: none;
	border-top: 2px solid #d3dcde;
	border-radius: 0;
	outline: 0;
}

select.form-control:active{
	border: none;
	border-top: 2px solid #d3dcde;
	box-shadow: none;
}

select.form-control:focus{
	border: none;
	border-top: 2px solid #d3dcde;
	box-shadow: none;
}

input.form-control {
	border: none;
	border-radius: 0;
	height: 40px;
	background-color: #ecf0f1;
}

input.form-control:focus {
	outline: 0;
	box-shadow: none;
}

textarea.form-control {
	border: none;
	border-radius: 0;
	background-color: #ecf0f1;
}

.input-group input.form-control {
	height: 32px;
}

button.btn {
	border-radius: 0;
	font-size: 14px;
	padding: 5px 15px;
}

/*---------------------------- attribute --------------*/
.float-left {
	float: left;
}

.float-right {
	float: right;
}

.clickable {
	cursor: pointer;
}

.no-padding {
	padding: 0 !important;
}

.no-margin {
	margin: 0 !important;
}

.align-center-div {
	margin: auto;
}

.truncate {
	width: 300px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* ---------------------------- text ------------------- */
.error-text {
	color: #e74c3c;
	font-weight: bold;
	font-size: 17px;
}


/*---------------------------- image --------------------*/
.image-list-container {
	overflow-y: hidden;
	overflow-x: auto;
	margin: 10px 0 10px 0;
	white-space: nowrap;
}

.image-list-container .image {
	overflow: hidden;
	display: inline-block;
	margin-right: 10px;
}

.image {
	overflow: hidden;
}


/*-------------------------- Project view---------------------*/
.project-card {
	color: #3d3d5c;
	padding: 20px;
	margin-bottom: 50px;
	border: 1px solid #f0f3f4;
	border-top: 5px solid #2ecc71;
	background-color: white;
}

.project-card-title {
	color: #090d10;
	font-size: 25px;
	font-weight: bold;
}

.project-card-owner {
	margin: 5px 0 5px 0;
}

.project-card-description {
	height: 10em;
	overflow: hidden;
	text-overflow: ellipsis;
}

.project-card-progress {
	margin-top: 15px;
	margin-bottom: 15px;
}

.project-card-funded-money {
	color: #606b6c;
	padding: 0;
	font-size: 27px;
}

.project-card-category {
	padding: 12px 0 0 0;
	text-align: right;
}

.project-card-category a {
	color: #606b6c;
	font-size: 16px;
}

/*-------------------------------- Project filter ---------------*/
.project-filter-container {
	position: fixed;
	top: 110px;
	left: 0;
	z-index: 10;
	width: 100vw;
	pointer-events: none;
}

.project-filter-bar {
	width: 300px;
	height: 2000px;
	background-color: white;
	border: 1px solid #f0f3f4;
	border-top: 5px solid #2ecc71;
	padding: 25px;
	pointer-events: auto;
}

.project-filter-bar-title {
	color: #090d10;
	font-weight: bold;
	font-size: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #e2e8e9;
}

.project-filter-form {
	margin-top: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e2e8e9;
}

.project-filter-button {
	margin-top: 20px;
}

/*------------------------------------- Home ------------------------*/
.slideshow {
	width: 100%;
	height: 80vh;
}

.slideshow-image {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.slideshow-selector-container {
	position: absolute;
	top: 62px;
	right: 0;
	width: 200px;
	height: 698px;
}

.slideshow-center-line {
	position: absolute;
	top: 45%;
	height: 90px;
	padding-top: -20px;
	background-color: #141414;
	opacity: 0.5;
	width: 100%;
	text-align: center;
	color: white;
	font-size: 75px;
}

.slideshow-center-text {
	position: absolute;
	top: 44%;
	height: 90px;
	width: 100%;
	text-align: center;
	color: white;
	font-size: 75px;
}

/*--------------------------------- View project page ------------------*/
.project-view-container {
	width: 100%;
	height: 1000px;
}

.project-view-image {
	width: 69%;
	height: 70vh;
	overflow: hidden;
	float: left;
	display: inline-block;
}

.project-view-info {
	width: 30%;
	height: 70vh;
	float: right;
	padding: 15px;
	display: inline-block;
	border-top: 5px solid #2ecc71;
	background-color: white;
}

.project-view-money {
	color: #3d3d5c;
	font-size: 25px;
	font-weight: bold;
}

.project-view-progress {
	margin-top: 15px;
}

.project-view-donate input {
	height: 48px;
}

.project-view-donate button {
	background-color: #2ecc71;
	border: none;
	font-size: 20px;
	height: 48px;
	width: 100%;
}

.project-view-donate-panel {
	margin-top: 20px;
}

.project-view-donate-panel button {
	background-color: #2ecc71;
	border: 1px solid #2ecc71;
}

.project-view-description {
	background-color: white;
	float: left;
	margin-top: 20px;
	padding: 15px;
	width: 69%;
}

.project-view-donations {
	margin-top: 20px;
	width: 30%;
	float: right;
}

.project-view-donations-label {
	height: 48px;
	width: 100%;
	padding-top: 10px;
	font-size: 20px;
	background-color: #2ecc71;
	text-align: center;
	color: white;
}

.project-view-donations-container {
	margin-top: 15px;
	background-color: white;
}

.project-view-donation-card {
	padding: 0 10px;
	margin-bottom: 10px;
}
