.main-container {
	margin-top: 50px;
}

/*---------------------------- attribute --------------*/
.float-left {
	float: left;
}

.float-right {
	float: right;
}

.clickable {
	cursor: pointer;
}

.no-padding {
	padding: 0 !important;
}

.no-margin {
	margin: 0 !important;
}

/* ---------------------------- text ------------------- */
.error-text {
	color: #e74c3c;
	font-weight: bold;
	font-size: 17px;
}


/*---------------------------- image --------------------*/
.image-list-container {
	overflow-y: hidden;
	overflow-x: auto;
	margin: 10px 0 10px 0;
	white-space: nowrap;
}

.image-list-container .image {
	overflow: hidden;
	display: inline-block;
	margin-right: 10px;
}

.image {
	overflow: hidden;
}


/*-------------------------- Project view---------------------*/
.project-card {
	color: #3d3d5c;
	padding: 20px;
	margin-bottom: 50px;
	border: 1px solid #ddd;
}

.project-card-title {
	color: #090d10;
	font-size: 25px;
	font-weight: bold;
}

.project-card-owner {
	margin: 5px 0 5px 0;
}

.project-card-description {
	height: 10em;
	overflow: hidden;
	text-overflow: ellipsis;
}

.project-card-progress {
	margin-top: 15px;
	margin-bottom: 15px;
}

.project-card-funded-money {
	color: #606b6c;
	font-size: 27px;
}
